
<h2>The Office Supply Store</h2>
<% @products.each do |product| %>
  <p><font size="+1"><%= product.name %> | <%= number_to_currency(product.price) %></font><br>
  <%= image_tag(product.image, size: "175x175", alt: product.name)%>
  <%= form_for @order_item do |f| %>
    <%= f.hidden_field :product_id, value: product.id %>
    <%= f.number_field :quantity %>
    <%= f.submit "Add to cart" %>
  <% end %></p>
<% end %>
<%= link_to '<button type="button">View Cart</button>'.html_safe, cart_path %>